table {
    width:60%;
    margin-left:auto;
    margin-right:auto;
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align:center;
  }
  th{
    font-size:20px;
  }
  th, td {
    padding: 15px;
  }
  table tr:nth-child(even) {
    background-color: #eee;
  }
  table tr:nth-child(odd) {
   background-color: #fff;
  }
  table th {
    background-color: black;
    color: white;
  }
  .presentation{
    font-size: 30px;

  }
  h1{
    text-align:center;
  }
  footer{
    background-color: black;
    color: white;
    margin:0;
    padding:0;
  }

  .box {
    display: flex;
  }
