  html,body{
    margin:0;
    padding:0;
  }
  table {
    width:60%;
    margin-left:auto;
    margin-right:auto;
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align:center;
  }
  th{
    font-size:20px;
  }
  th, td {
    padding: 15px;
  }
  table tr:nth-child(even) {
    background-color: #eee;
  }
  table tr:nth-child(odd) {
   background-color: #fff;
  }
  table th {
    background-color: black;
    color: white;
  }
  .presentation{
    font-size: 30px;

  }
  h1{
    text-align:center;
  }
  footer{
    margin-top:70px;
    background-color: black;
    color: white;
    padding:50px;
    text-align:center;
  }

  .box {
    display: flex;
  }
  .box div{
    margin-left:auto;
    margin-right:auto;
    font-size: 25px;
  }
  .unstyle{
    text-decoration: none;
    color: white;
  }
  .unstyle:hover{
    color:white;
  }
  .manavbar{
    border-radius: 0px;
    width: auto;
    height: auto;
    background-color: rgba(0, 0, 0, 1);
  }
  .manavbar a{
    text-decoration: none;
    color: #fff;
    cursor: default;
    padding: 2vh;
  }
  .manavbar ul {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .manavbar li {
    font-family: 'Oswald', sans-serif;
    font-size: 2.0em;
    line-height: 50px;
    height: 50px;
    display: inline-block;
  }
  .manavbar a:hover{
    color: black;
    text-decoration: none;
    background-color: #C6E9FF;
  }
.searchright{
  float: right;
  padding-right: 10px;
}
.search {
  width: 100%;
  position: relative;
  display: flex;
  margin-top: 7px;
}
.searchTerm {
  width: 100%;
  border: 1px solid rgb(255, 255, 255);
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: black;
  font-size: 1em;
  width: 125px;
}
.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #C6E9FF;
  background: #C6E9FF;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}
.search img{
  width: 27px;
  margin-bottom: 22px;
}
input::-webkit-calendar-picker-indicator {
  display: none;
}
.seach datalist{
  opacity: 0%;
}
fieldset{
  background-color: rgb(126, 126, 126);
}